@import 'https://fonts.googleapis.com/css?family=Muli';

@font-face {
    font-family: "UthmanTN1Ver10";
    src: url("/fonts/UthmanTN1Ver10.otf");
}

@font-face {
    font-family: "UthmanTN1BVer10";
    src: url("/fonts/UthmanTN1BVer10.otf");
	font-weight: bold;
}

body {
    font-family: 'Muli', sans-serif;
    padding-top: 80px;
    color: #333;
}

.arab, .arabic, .ayat, .quran {
	font-family: "UthmanTN1Ver10", serif;
	line-height: 1.8em;
	direction: rtl;
    font-size: 24px;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    background-color: transparent;
    text-decoration: underline;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
    font-size: 16px;
}

.navbar-nav>li>a {
    padding: 27px 10px;
}

.navbar-nav>li>a:hover, .navbar-nav>li>a:active {
    text-decoration: underline;
}

.navbar-nav>li>a:first-of-type {
    padding-left: 0;
}

.footer {
    background:#3C1818;
    padding:30px 0 10px 0;
    color:#fff;
}

.footer a {
    color: #fff;
}

.carousel-caption {
    color: inherit;
    text-shadow: none;
    left: 50%;
    right: 135px;
    top: 0;
}

.carousel-caption p {
    font-size: 18px;
}

.carousel-control.right, .carousel-control.left {
	background-image: none;
}

.carousel-control {
	color: #000;
}
.carousel-control:hover {
	color: #0084FF;
}

.carousel {
    background: linear-gradient(#fff, #9efff2);
}

img.cover {
	height: 100%;
	width: 100%;
	object-fit:cover;
	-o-object-fit:cover;
}

.navbar-brand {
    position: absolute;
    width:100%;
    left:0;
    top:14px;
    text-align:center;
    margin:auto;
    font-size:15px;
    color: #fff !important;
}

hr {
    border-color: #8E4E4E;
}

h1,h2,h3,h4,h5,h6 {
    color: #3C1818;
}

.td-label, .th-label {
    width: 150px;
    font-weight: bold;
    text-align: right;
}

.btn-brown {
    background-color: #3C1818;
    color: #fff;
}

.btn-brown:hover {
    background-color: #8E4E4E;
    color: #fff;
}

.text-bold, .text-bold td {
    font-weight: bold;
}

.well {
    border: none;
    box-shadow: none;
    border-radius: 0;
}

.alert {
    border: none;
    border-radius: 0;
}

.list-group-item:first-of-type {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.list-group-item:last-of-type {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

body.sidr-open { position: fixed !important; }

.table-no-border {
    margin-bottom: 0;
}

.table-no-border > tbody > tr > td {
    border: none;
}
